body {
  background-color: #703d70;
}

#heading {
  font-size: 18px;
  letter-spacing: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

span {
  font-size: 30px;
}

.myLabel {
  color: #62b33a;
}

.giveBorder {
  height: 300px;
  width: 350px;
  border: 3px dashed;
}
